<div class="container d-flex justify-content-center mt-5">
    <div class="row">
        <div class="col-12">
            <h1 class="text-primary mb-3 text-center">{{title}}</h1>
            <app-hijo *ngIf="datos" [registroPersona]="datos"></app-hijo>
            <form (ngSubmit)="onSubmit(registerForm.value)" #registerForm="ngForm">
                <div class="mb-4">
                    <label for="name" class="form-label">Nombre:</label>
                    <input type="text" class="form-control" id="name" placeholder="Introduzca su nombre" name="name" required [(ngModel)]="model.name">
                </div>
                <div class="mb-4">
                    <label for="dni" class="form-label">Dni:</label>
                    <input type="text" class="form-control" id="dni" placeholder="Introduzca su DNI" name="dni" required [(ngModel)]="model.dni">
                </div>
                <div class="mb-4">
                    <label for="estado_civil" class="form-label">Estado civil:</label>
                    <select name="estado_civil" id="estado_civil" class="form-select form-select-sm" [(ngModel)]="model.estado_civil">
                        <option selected disabled>Elige una opción</option>
                        <option value="Soltero">Soltero</option>
                        <option value="Casado">Casado</option>
                    </select>
                </div>
                <div class="mb-4">
                    <button type="submit" class="btn" [ngStyle]="{'background' : '#4caf50', 'color' : '#fff'}">Enviar</button>
                </div>
            </form>
        </div>
    </div>
</div>
